@keyframes snow {
	0% {
		fill-opacity: 1;
	}
	100% {
		fill-opacity: 0;
		transform: translateY(70%);
	}
}

body {
	overflow-x: hidden;
	color: #fff;
	margin: 0 auto;
	background-color: rgb(0 0 0 / 30%);
	background-image: url(https://images.pexels.com/photos/161254/snow-romantic-village-snowy-161254.jpeg?auto=compress&cs=tinysrgb&w=1920);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
	min-height: 100vh;
}

